:root{
    --section-color1:#eef1f6;
    --section-color2:#f0f1f7;
    --red-color: #ff3e66;
    --dark-color: #0e1133;
    --blue-color: #2a6df5;
    --up-btn-color:#f3b8c8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  height: 10000px;
}
body{
  font-family: "cairo" , sans-serif;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
/* Start constants */
a{
  text-decoration: none;
}
.up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: var(--up-btn-color);
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

/* End constants */

/* start navbar */
.nav-bar{
  background-color: var(--section-color1);
}

/* start navbar */
/* Start Landing */
.landing{
  background-color: var(--section-color1);
}
.landing .container-fluid{
  padding-top: 85px;
}
.landing .content{
  padding:50px ;
  color: var(--dark-color);
}
.landing .email-box{
  box-shadow: -3px 0px 0px var(--red-color);
}
.landing .email-box .arrow{
  float: right;
  color: var(--red-color);
}
/* End Landing */
/*Start Sec 2*/
.sec-2 .boxes{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.sec-2 .boxes .box{
  border-radius: 10px;
}
.sec-2 .boxes .box h1{
  color: var(--dark-color);
}


.sec-2 .a{
  background-color: #2facfc;
  font-size: 18px;
  color: white;
  padding:20px;
  border-radius: 100%;
  margin: 30px;
}
.sec-2 .b{
  border-radius: 100%;
  background-color: #ea4d89;
  font-size: 18px;
  color: white;
  padding:20px;
  border-radius: 100%;
  margin: 30px;
}
.sec-2 .c{
  background-color: #3679ff;
  font-size: 18px;
  color: white;
  padding:20px;
  border-radius: 100%;
  margin: 30px;
}
.sec-2 .d{
  background-color: #f67842;
  font-size: 18px;
  color: white;
  padding:20px;
  border-radius: 100%;
  margin: 30px;
}
.sec-2 .e{
  background-color: #6b88f7;
  font-size: 18px;
  color: white;
  padding:20px;
  border-radius: 100%;
  margin: 30px;
}
.sec-2 .f{
  background-color: #3bb094;
  font-size: 18px;
  color: white;
  padding:20px;
  border-radius: 100%;
  margin: 30px;
}
.sec-2 .box{
  border: 1px solid #eef0f4;
}
.sec-2 .view {
  border:1px solid #000000;
  padding: 10px 20px;
  border-radius: 30px;
}

/*End Sec 2*/
