    /*Small Screen*/

@media (max-width:600px) {


    .main-title{
        position: relative;
        display: flex;
        justify-content:center;
        align-items: center;
        color:var(--dark-color);
        font-family: 'Anton', sans-serif;
        font-size: 30px;
        font-weight: 900;
      }
    .nav-bar .get-started{
        color:white;
        background-color: var(--red-color);
        padding: 15px 30px;
        border-radius: 30px;
      }
    .landing .content h1{
        font-size: 18px;
        font-weight: 700
    }
    .landing .content h1 span{
        font-size: 30px;
    }
    .landing .content p{
        font-size: 15px;
    }
    .landing .landing-image img{
        width: 170px;
        float: right;
        padding: 0;
        margin: 0;    }
    .landing .email-box{
        position: relative;
        background-color:white ;
        border-radius: 30px;
        width: 60%;
        z-index: 1;
        width: 100%;
        padding:10px ;
      }
      .landing .email-box{
        box-shadow: -4px 0px 0px -1px var(--red-color)
      }
    .landing .people-images img{
      max-width: 50px;
      border-radius: 50%;
      border: 3px solid white;
    }
    .landing .people .people-images .image-1{
        position:absolute;
        z-index: 4;
      }
      .landing .people .people-images .image-2{
        position:absolute;
        z-index: 3;
        margin-left: 30px;
      }
      .landing .people .people-images .image-3{
        position:absolute;
        z-index: 2;
        margin-left: 60px;
      }
      .landing .people .people-images .image-4{
        position:absolute;
        z-index: 1;
        margin-left: 90px;
      }
      .landing .people .people-text h1{
        font-size: 20px;
      }
      .landing .people .people-text h5{
        font-size: 15px;
      }
      .landing .people .people-text{
        position: absolute;
        left: 150px;
      }
      /*Start sec-2*/
      .sec-2 .container .text-1 { 
        display: flex;
        flex-direction: column;
      }
      .sec-2 .container .text-1 p{
        font-size:12px;
        text-align: center;
      }

      .sec-2 .boxes .box{
        text-align: center;
        padding-bottom: 20px;
      }
      .sec-2 .boxes .box p{
        width: 100%;
      }
      /*End sec-2*/

      /*Start sec-3*/
      .sec-3 .image img{
        display: none;
      }
      .sec-3 .container .content{
        text-align: center;
      }
      .sec-3 .container .content h1{
        font-size: 20px;
      }
      .sec-3 .container .content h6{
        padding-top: 25px;
      }
      .sec-3 .container .content p{
        font-size: 14px;
        padding-bottom: 12px;
      }
      .sec-3 .container .content .ma{
        text-align: start;
        padding-left: 8px;
      }
      .sec-3 svg{
        font-size: 13px;
        padding: 5px;
      }
      /*End sec-3*/

      /*Start sec-4*/
      .sec-4 .title h1{
        width: 100%;
        font-size: 21px;
      }
      .sec-4 .title p{
        font-size: 12px;
      }
      .sec-4 .row .boxes .box .dote-1{
        height: 15px;
        width: 20px;
        box-shadow: 0px 0px 0px 5px #2a182d;
      }
      .sec-4 .row .boxes .box .dote-2{
        height: 15px;
        width: 20px;
        box-shadow: 0px 0px 0px 5px #15233d;
      }
      .sec-4 .row .boxes .box .dote-3{
        height: 15px;
        width: 20px;
        box-shadow: 0px 0px 0px 5px #15262c;
      }
      .sec-4 .row .boxes .box h2{
        font-size: 18px;
      }
      .sec-4 .row .boxes .box p{
        font-size: 12px;
        margin-bottom: 0px;
      }
      /*End sec-4*/

      /*Start sec-5*/
      .sec-5 .container{
        text-align: center;
      }
      /*End sec-4*/
      /*Start sec-5*/
      .sec-5 .boxes{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      .sec-5 .container .image-2{
        display: none;
      }
      .sec-5 .container .text-arrow .arrow{
        display: none;
      }
      .sec-5 .container .text-arrow .text{
        text-align: center;
      }

      /*End sec-5*/
      
      /*Start sec-6*/
      .sec-6 .text h1{
        width: 100%;
        font-size: 30px;
        font-weight: 900;
      }
      .sec-6 .text p{
        width: 100%;
      }
      .sec-6 .container .stores .ios{
        padding: 10px;
      }
      .sec-6 .container .stores .android{
        padding: 10px;
      }
      .sec-6 .container .stores .ios svg{
        color: white;
        font-size: 25px;
        padding-right: 5px;
      }
      .sec-6 .container .stores .android svg{
        color: var(--dark-color);
        font-size: 25px;
        padding-right:5px;
      }
      .sec-6 .container .stores .ios h1{
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 0px;
      }
      .sec-6 .container .stores .android h1{
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 0px;
      }
      .sec-6 .container .stores .ios h4{
        font-size: 15px;
        padding-top: 5px;
      }
      .sec-6 .container .stores .android h4{
        padding-top:5px ;
        font-size: 15px; 
      }
      
      
      /*End sec-6*/
      /*End sec-8*/
      .sec-8 .container .row .arrow {
        display: none;
      }
      /*End sec-8*/
      /*Start sec-9*/
      .sec-9 .section-header h1{
        width: 100%;
      }
      .sec-9 .section-header p{
        text-align: center;
      }
      .sec-9 .sponsors img{
        padding: 28px;
        margin: 7px;
        box-shadow: rgb(188 188 189) 0px 20px 40px 0px;
        border-radius: 15px;
      }
      /*End sec-9*/

      /*Start sec-10 footer*/
      .footer .row{
        text-align: center;
      }
      .footer .social-media{
        padding-bottom: 20px;
      }
      .footer .container .row .Git-In-Touch ul li{
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .footer .container .stores .ios svg{
        font-size: 18px;
      }
      .footer .container .stores .android svg{
        font-size: 18px;
      }
      .footer .stores .ios h4{
        font-size: 14px;
        padding: 2px;
      }
      .footer .stores .android h4{
        font-size: 13px;
        padding: 2px;
      }
      .footer .container .stores .ios{
        border-radius: 5px;
      }
      .footer .container .stores .android{
        border-radius: 5px;
      }
      /*End sec-10 footer*/
      .footer .container .copyright{
        text-align: center;
      }

    }




    /*Large Screen*/
    
@media (min-width:600px) {
    .main-title{
        position: relative;
        display: flex;
        justify-content:start;
        color:var(--dark-color);
        font-family: 'Anton', sans-serif;
        font-size: 40px;
        font-weight: 900;
        


      }
    .nav-bar .get-started{
        color:white;
        background-color: var(--red-color);
        padding: 15px 30px;
        border-radius: 30px;
      }
    .landing .content h1{
        font-size: 60px;
      }
    .landing .content h1 span{
        font-size: 80px;
        font-weight: 900;
      }
    .landing .people-images img{
        max-width: 50px;
        border-radius: 50%;
        border: 3px solid white;
    }
    .landing .email-box{
        position: relative;
        background-color:white ;
        border-radius: 30px;
        width: 60%;
        z-index: 1;
      }
      
    .landing .people .people-images .image-1{
        position:absolute;
        z-index: 4;
      }
      .landing .people .people-images .image-2{
        position:absolute;
        z-index: 3;
        margin-left: 30px;
      }
      .landing .people .people-images .image-3{
        position:absolute;
        z-index: 2;
        margin-left: 60px;
      }
      .landing .people .people-images .image-4{
        position:absolute;
        z-index: 1;
        margin-left: 90px;
      }
      .landing .people .people-text{
        position: absolute;
        right: 290px;
      }
      .landing .people .people-text h1{
        font-size: 35px;
      }
      .landing .people .people-text h5{
        font-size: 18px;
      }
      
  }